<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<listener>
		<listener-class>com.ponysdk.core.service.ApplicationLoader</listener-class>
	</listener>

	<servlet>
		<servlet-name>PonyHttpServlet</servlet-name>
		<servlet-class>com.ponysdk.core.servlet.HttpServlet</servlet-class>
		<init-param>
			<param-name>entryPoint</param-name>
			<param-value>com.ponysdk.test.UiBuilderTestEntryPoint</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>PonyBootstrapServlet</servlet-name>
		<servlet-class>com.ponysdk.core.servlet.BootstrapServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>PonyHttpServlet</servlet-name>
		<url-pattern>/ponyterminal/p</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PonyBootstrapServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>