name: CI

on:
  push:
    branches:
      - 'master'
      - 'v2.8.*'

jobs:
  build:
    name: Publish Snapshot
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up JDK 1.9
        uses: actions/setup-java@v2
        with:
          java-version: '9.0.4'
          distribution: 'adopt-openj9'
      - name: Build, check and publish
        env:
            USERNAME: ${{ github.actor }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        run: ./gradlew publish
